{
    "influx": {
        "host":"influxdb-host",
        "port":8086,
        "database": "default",
        "login":"user",
        "password":"password",
        "interval":60,
        "max_points":250,
        "location": "subnet1"
    },
    "hosts": {
        "host1": "192.168.1.1",
        "host2": "192.168.1.2"
    },
    "ping_frequency": 5
}
